Repository piro0919/youtube-growth: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, stylelint, typescript, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    stylelint:
      glob: "**/*.css"
      run: npx stylelint --fix {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit
    eslint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

fix: comment out print media query in stylesheet and fix dark mode adjustment styles"
  src/app/analysis/success/_components/Success/style.module.css
Due: prettier, stylelint

feat: add API to run analysis process in background after payment
  src/app/actions.ts
  src/app/api/background-analysis/route.ts
  src/lib/analyze/index.ts
  src/lib/server/analysis/index.ts
Due: prettier, typescript, eslint

feat: add logo to app title and display alpha version notice
  src/app/_components/App/_assets/logo.png
  src/app/_components/App/index.tsx
  src/app/_components/App/style.module.css
  src/app/favicon.ico
Due: prettier, stylelint, typescript, eslint

feat: update VSCode settings and add OpenGraph image
  .vscode/settings.json
  src/app/opengraph-image.png
Due: prettier

fix: clarify description of updated payment page
  src/app/_components/App/index.tsx
Due: prettier, typescript, eslint

feat: improve analysis result display and add new features
  next.config.ts
  package-lock.json
  package.json
  src/app/actions.ts
  src/app/analysis/success/_components/Success/index.tsx
  src/app/analysis/success/_components/Success/style.module.css
  src/app/globals.css
Due: prettier, stylelint, typescript, eslint

feat: improve CSS styles and add new ESLint rules
  eslint.config.mjs
  src/app/_components/App/style.module.css
  src/app/analysis/cancel/_components/Cancel/style.module.css
  src/app/analysis/error/_components/Error/style.module.css
  src/app/analysis/status/_components/AnalysisProgress/style.module.css
  src/app/analysis/success/_components/Success/index.tsx
  src/app/analysis/success/_components/Success/style.module.css
Due: prettier, stylelint, typescript, eslint

feat: enable on-demand ISR for success page
  src/app/analysis/success/page.tsx
Due: prettier, typescript, eslint

feat: improve styles and remove unnecessary CSS variables
  src/app/analysis/success/_components/Success/style.module.css
  src/app/globals.css
Due: prettier, stylelint

Update README.md
  README.md
Due: prettier

chore: use shared renovate preset
  renovate.json
Due: prettier

chore: add MIT license
  LICENSE
Due: prettier

docs: rewrite README
  README.md
Due: prettier

chore: add the sponsors link
  .github/FUNDING.yml
Due: prettier
